@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Oswald', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}

.spacer{
  margin: 5px
}

.small-spacer{
  margin: 1px
}

.start {
  display: flex;
  justify-content: space-evenly
}

.background {
  background-image: url('/public/coding.png');
}


.img {
  /* position: relative; */
  /* z-index: 1; */
  background: transparent url('/coding.png') top right no-repeat;
  height: 1000px
}

button {
  background-color: white
}