@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Oswald', sans-serif;
}

h1 {
  padding-top: 100px;
  padding-left: 100px;
  display: flex;
  /* justify-content: center; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  /* position: absolute; */
  position: relative;
  /* position: sticky; */
  left: 0;
  right: 0;
  bottom: 0;
}

.blank-space {
  margin: 138px
}

.spacer{
  margin: 5px
}

.small-spacer{
  margin: 1px
}

.start {
  display: flex;
  justify-content: space-evenly
}

.background {
  background-image: url('/public/coding.png');
}


.img {
  /* position: relative; */
  /* z-index: 1; */
  background: transparent url('/coding.png') left no-repeat;
  height: 1000px;
  width: 1350px;
  /* width: 1350px */
}

button {
  display: inline-block;
  border-radius: 10px;
  border: 4px #cccccc;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Oswald', sans-serif;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  background-color: lightgrey;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.flex {
  display: flex;
}

a {
  font-size: 22px;
}

.div-space {
  margin: 30px
}

.large-space {
  margin: 50px
}

.underline:hover {
  text-decoration: underline;
}

.about {
  margin: 100px;
}

.nav {
  border-bottom: 3px solid black;
  margin-left: 200px;
  margin-right: 200px
}

@media only screen and (min-width: 750px) {
  .squeeze-center {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content:flex-start
  }
}

